@import "componnent";
.banner {
    transition: all 0.3;
    .half-banner,
    .full-banner {
        // border: 1px solid black;
        img {
            width: 100%;
            height: 100%;
            border-radius: 30px;
        }
    }
    justify-content: space-between;
    margin: 2% 0;
    width: 100%;
    height: 300px;
    display: flex;
    .full-banner {
        transition: all 0.3;
        width: 69%;
        height: 100%;
        // border: 1px solid black;
    }
    .half-banner {
        transition: all 0.3;
        // border: 1px solid black;
        width: 29%;
        height: 100%;
        .half-banner {
            width: 100%;
            height: 49%;
            margin: 1% 0;
        }
    }
}