@import "componnent";
header {
    .navbar {
        height: 60px;
        width: 100%;
        background: $first-gradient-ns;
        background: $first-gradient;
        .responsive-menu-button {
            display: none;
        }
        .responsive-nav {
            display: none;
        }
        nav {
            width: 100%;
            height: 100%;
            margin: 0 10%;
            display: flex;
            justify-content: space-between;
            ul {
                width: 70%;
                display: flex;
                margin: auto 0;
                height: 100%;
                align-items: center;
                li {
                    align-items: center;
                    margin: auto 10px;
                    a {
                        color: white;
                        transition: all 0.3s;
                        &:hover {
                            color: #424242;
                        }
                    }
                }
            }
        }
        .search-box {
            width: 35%;
            margin: auto 0;
            display: flex;
            justify-content: flex-end;
            form {
                width: 100%;
                input {
                    width: 80%;
                    margin: 0 !important;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                button {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    width: 20%;
                    height: 38px;
                }
            }
        }
    }
    .responsive-menu {
        z-index: 100;
        position: absolute;
        right: -220px;
        display: none;
        width: 220px;
        background-color: black;
        // height: 90vh;
        bottom: 0;
        top: 60px;
        transition: 0.5s;
        overflow: scroll;
        ul {
            text-align: center;
            padding: 5%;
            li {
                margin: 10% 0%;
                a {
                    color: white;
                    &:hover {
                        color: #4CAF50;
                    }
                }
            }
        }
    }
}