@import "defaultStyle/base";
@import "defaultStyle/componnent";
@import "defaultStyle/header";
@import "defaultStyle/responsive";
@import "defaultStyle/main-menu";
@import "defaultStyle/ads-banner";
@import "main/main-content";
@import "main/last-article";
@import "main/active-group";
@import "defaultStyle/footer";