@import "base";
@import "componnent";
@import "header";
@import "responsive";
@import "main-menu";
@import "ads-banner";
@import "main-content";
@import "last-article";
@import "active-group";
@import "footer";