    @import "../defaultStyle/componnent";
    @media screen and (max-width: 1200px) {}
    
    @media screen and (max-width: 992px) {
        .main-content {
            .panel {
                .login-image {
                    display: none;
                }
            }
        }
    }
    
    @media screen and (max-width: 768px) {}
    
    @media screen and (max-width: 576px) {}
    
    @media screen and (max-width: 400px) {}