@import "../defaultStyle/componnent";
.last-article {
    margin: 10px 0;
    .last-article-title {
        display: flex;
        justify-content: center;
        h2 {
            margin: 25px 0;
            position: relative;
            &::before {
                width: 2000px;
                height: 5px;
                border-radius: 25px;
                background-color: aqua;
                right: -1990px;
                top: 9px;
            }
        }
    }
    width: 100%;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    .col-md-4,
    .col-lg-3,
    .col-sm-6 {
        .article {
            width: 100%;
            height: 320px;
            margin: 10px 0;
            border-radius: 10px;
            box-shadow: 0px 0px 5px #BDBDBD;
            a {
                img {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    width: 100%;
                    height: 65%;
                    opacity: 0.9;
                    transition: 0.3s;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .article-detail {
                width: 100%;
                height: 35%;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 10px;
                .title {
                    p {
                        font-weight: 700;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-bottom: 5px;
                    }
                }
                @include a-color-attribute(#616161, #03A9F4) a {}
                .short-description {
                    height: 50px;
                    overflow: hidden;
                    margin: 0;
                    color: #757575;
                    font-size: 15px;
                }
                .detail-icon {
                    display: flex;
                    justify-content: space-around;
                    span {
                        font-size: 13px;
                        color: #9E9E9E;
                    }
                }
            }
        }
    }
}