$first-gradient-ns:rgb(246, 79, 89);
$first-gradient: linear-gradient(90deg, rgba(246, 79, 89, 1) 0%, rgba(196, 113, 237, 1) 50%, rgba(18, 194, 233, 1) 100%);
$secondery-gradient-ns: rgb(252, 0, 255);
$secondery-gradient: linear-gradient(90deg, rgba(252, 0, 255, 1) 0%, rgba(0, 219, 222, 1) 100%);
@mixin a-color-attribute($first-color :white, $hover-color:#4CAF50) {
    a {
        color: $first-color !important;
        transition: 0.3s;
        &:hover {
            color: $hover-color !important;
        }
    }
}

@mixin user-image($width:96px, $height:96px, $b-radius:60px) {
    width: $width;
    height: $height;
    border-radius: $b-radius;
}

.panel {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    border-radius: 5px;
    margin: 15px 0;
    padding: 0;
    height: fit-content;
    transition: 0.5s;
    .panel-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .panel-content {
        padding: 20px;
    }
}