@import "componnent";
.footer {
    background-image: url('/images/Default-Footer-image.jpg');
    background-image: url('/images/Footer-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2%;
    direction: rtl;
    width: 100%;
    background-color: #2c3e50;
    height: fit-content;
    font-size: medium;
    .container {
        display: flex;
        justify-content: space-between;
        .links,
        .social-links {
            ul {
                li {
                    margin: 25px 0;
                    color: white;
                    @include a-color-attribute();
                }
            }
        }
        .logo {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .item {
                box-shadow: 0px 0px 5px white;
                border-radius: 10px;
                background-color: white;
                height: 150px;
                margin: 5px;
                width: 150px;
                padding: 2%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .copy-right {
        .container {
            margin-top: 10px;
            color: white;
            display: flex;
            flex-direction: column;
            .owner,
            .developer {
                @include a-color-attribute();
                width: 100%;
                margin: 5px 0;
            }
        }
    }
}