@import "componnent";
header {
    .navbar {
        height: 60px;
        width: 100%;
        background: $first-gradient-ns;
        background: $first-gradient;
        .responsive-menu-button {
            display: none;
        }
        .responsive-nav {
            display: none;
        }
        nav {
            width: 100%;
            height: 100%;
            margin: 0 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                width: 70%;
                display: flex;
                margin: auto 0;
                height: 100%;
                align-items: center;
                li {
                    align-items: center;
                    margin: auto 10px;
                    a {
                        color: white;
                        transition: all 0.3s;
                        &:hover {
                            color: #424242;
                        }
                    }
                }
            }
        }
        .user-access {
            .btn-group {
                button {
                    a {
                        color: white;
                    }
                }
            }
        }
    }
    .responsive-menu {
        z-index: 100;
        position: absolute;
        right: -220px;
        display: none;
        width: 220px;
        background-color: black;
        // height: 90vh;
        bottom: 0;
        top: 60px;
        transition: 0.5s;
        overflow: scroll;
        .responsive-menu-items {
            li {
                margin: 10% 0%;
                @include a-color-attribute();
                i {
                    color: white;
                }
            }
            text-align: center;
            padding: 5%;
            .card {
                background-color: black;
                .card-header {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 0 !important;
                    i {
                        padding: 4px;
                        border: 1px solid white;
                    }
                }
                .collapse {
                    .card-body {
                        li {
                            @include a-color-attribute(#4FC3F7, #BA68C8);
                        }
                    }
                }
            }
        }
    }
    .responsive-search-box {
        padding: 5%;
        display: flex;
        input {
            width: 80%;
            margin-left: 0 !important;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            &:focus {
                border: #424242;
            }
        }
        button {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            width: 20%;
        }
    }
}

.landing {
    width: 100%;
    height: 100%;
    background-image: url(..\\images\\landing-2.jpg);
    background-size: cover;
    background-position: left;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            color: white;
            text-shadow: 0px 4px 9px #C5CAE9;
            text-align: center;
        }
        form {
            width: 50%;
            margin: 5%;
            display: flex;
            justify-content: center;
            transition: all 0.5s;
            input {
                margin: 0 !important;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                height: 50px;
                width: 80%;
            }
            button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                height: 50px;
                width: 20%;
            }
        }
        .details {
            display: block;
            width: 80%;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    a {
                        color: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transition: all 0.5s;
                        &:hover {
                            color: #03A9F4;
                        }
                        img {
                            height: 72px;
                        }
                        p {
                            margin-top: 1rem;
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }
        }
    }
}