@import "../defaultStyle/componnent";
.main-menu {
    width: 100%;
    height: 45px;
    background: $secondery-gradient-ns;
    background: $secondery-gradient;
    .container {
        // overflow-y: scroll;
        height: 100%;
        display: flex;
        li {
            position: relative;
            color: white;
            margin: auto 1%;
            transition: all 0.3s;
            z-index: 5;
            &:hover {
                color: #424242;
            }
            .main-menu-items {
                margin-left: 10px;
                color: white;
                transition: all 0.3s;
                &:hover {
                    color: #424242;
                }
            }
            .main-menu-sub-items {
                visibility: hidden;
                opacity: 0.8;
                border-radius: 5px;
                position: absolute;
                right: 25;
                top: 25px;
                z-index: 100;
                min-width: 150px;
                height: fit-content;
                background-color: #FAFAFA;
                border: 1px solid #eaeff2;
                ul {
                    display: none;
                    margin: 10px;
                    flex-direction: column;
                    li {
                        margin: 5px 0px;
                        a {
                            color: #212121;
                            transition: all 0.3s;
                            &:hover {
                                color: #4FC3F7;
                            }
                        }
                    }
                }
            }
        }
    }
}