@media screen and (max-width: 1200px) {
    .back-container {
        display: none;
    }
    header {
        .navbar {
            nav {
                ul {
                    li {
                        margin: auto 8px;
                    }
                }
            }
        }
    }
    .courses {
        .course-box {
            .course-detail {
                .bottom {
                    margin: 5px 0 !important;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .back-container {
        display: block;
    }
    header {
        .navbar {
            nav {
                display: none !important;
            }
            .responsive-menu-button {
                display: block !important;
            }
            .responsive-nav {
                display: flex !important;
                justify-content: space-between;
                width: 100%;
                h2 {
                    margin: auto 0;
                }
            }
        }
        .responsive-menu {
            z-index: 10;
            display: block !important;
        }
    }
    .landing {
        .details {
            display: none !important;
        }
    }
    .main-menu {
        display: none;
    }
    .footer {
        .container {
            .logo {
                align-items: center;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .landing {
        .container {
            form {
                width: 100%;
            }
        }
    }
    .banner {
        flex-direction: column;
        .half-banner {
            display: flex;
            flex-direction: row;
            width: 100% !important;
            justify-content: space-between;
            .half-banner {
                width: 49% !important;
                height: 90% !important;
            }
        }
        .full-banner {
            width: 100% !important;
        }
    }
    .active-group {
        .groups {
            flex-direction: column;
            .buttons {
                width: 100% !important;
                flex-direction: row !important;
            }
            .tab-content {
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    header {
        .navbar {
            .responsive-nav {
                h2 {
                    font-size: 110%;
                }
            }
        }
    }
    .landing {
        .container {
            h1 {
                font-size: 31px;
            }
        }
    }
    .courses {
        .course-box {
            .course-detail {
                .bottom {
                    margin: 10px 0 !important;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
    }
    .footer {
        .container {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 400px) {
    header {
        .navbar {
            height: fit-content !important;
            .responsive-nav {
                h2 {
                    font-size: 25px;
                }
            }
        }
    }
}